[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
ExecStart=/home/gautam/bin/checkmail
WorkingDirectory=/home/gautam/mail/princeton