[Unit]
Description=Watch for new Inkscape files.

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/home/gautam/.local/bin/inkscape-figures watch --daemon

[Install]
WantedBy=default.target